*{
    padding: 0px;
    margin: 0%;
}
body{
    display: flex;
    justify-content: center;
    padding-top: 5vh;
}
.tudo{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    align-items: center;
    
}
.caixaTexto{
    width: 100vh;
}
.reverse{
    display: flex;
    flex-direction: column-reverse;
    
}